body{
  font-family: Helvetica;
}
span{
  font-size: 25px;
}
.highlight-right {
  background-color: yellow;
}
.highlight-done {
  background-color: lightgreen;
}
.highlight-wrong {
  background-color: red;
}
.text-area {
  height: 120px;
  width: 100%;
  border: 1px solid #ccc;
  font: 16px/26px Georgia, Garamond, Serif;
  overflow: auto;
}
.width{
  width: 700px !important;
}